<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <!--property place holder-->
    <bean id="deployProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean"
          p:location="/properties/cassandra.properties"/>

    <context:property-placeholder properties-ref="deployProperties"/>

    <bean id="cassandraFactory" class="org.mqpbms.connection.DefaultCassandraFactory"
          p:hostName="${cassandra.connection.hostName}" p:port="${cassandra.connection.port}"/>

    <bean id="cassandraTemplate" class="org.mqpbms.connection.DefaultCassandraTemplate"
          p:factory-ref="cassandraFactory" p:keyspace="${cassandra.connection.keyspace}"/>

</beans>